<div class="c-modal js--modal" id="modal-contribute">
  <div class="c-modal_close"><a href="javascript:void(0)" onclick="javascript:modalToggle('modal-contribute');">&#215;</a></div>
  
  <!--content-->
  <div class="flex flex-col">
    <!--header-->
    <div class="flex border-b border-solid border-blueGray-200 rounded-t">
      <h3 class="text-xl font-semibold mt-2">
        Heading here
      </h3>
      <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" onclick="modalToggle('modal-contribute')">
        <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
          ×
        </span>
      </button>
    </div>
    <!--body-->
    <div class="relative flex-auto">
      <div>
        <!-- Content here -->
      </div>
    </div>
  </div>
</div>