<footer class="bg-white sm:mt-10 lg:mt-16">
  
  <div class="container mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="space-y-8 xl:col-span-1">
       <img src="/img/icon.svg?3" alt="Sunbird Logo" width="80" />
        <p class="text-gray-600 text-base m-0">
          Lorem ipsum dolor sit, amet consectetur, adipisicing elit. Consectetur corrupti explicabo, nostrum, at nobis dolor voluptates.
        </p>
      </div>
      <div class="mt-8 grid grid-cols-2 gap-8 xl:mt-0 xl:col-span-2 hidden md:grid">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-sm font-semibold text-gray-700 tracking-wider uppercase">
              Heading
            </h3>
            <ul class="mt-4 space-y-4 m-0 plain-list">
               <li>
                  <a href="#" class="lg:text-sm font-normal text-gray-600 hover:text-gray-800 transition-colors duration-200">
                  Link
                  </a>
                </li>
            </ul>
          </div>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-sm font-semibold text-gray-700 tracking-wider uppercase">
              Heading
            </h3>
            <ul class="mt-4 space-y-4 m-0 plain-list">
               <li>
                  <a href="#" class="lg:text-sm font-normal text-gray-600 hover:text-gray-800 transition-colors duration-200">
                  Link
                  </a>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-12 border-t border-gray-300 pt-8">
      <p class="text-sm text-gray-500 xl:text-center m-0">
        <span>&copy; <script>document.write(new Date().getFullYear())</script> Sunbird</span>
      </p>
    </div>
  </div>
</footer>
