<div class="w-ful">
  <div class="relative container mx-auto">
    <div class="px-4 sm:px-6">
      <div class="flex flex-col md:flex-row py-8">
        <div class="flex items-center mb-6 lg:w-0 lg:flex-1 md:p-0 md:mb-0">
          <a href="/" class="block">
            <img class="w-auto" src="/img/logo_white.svg?3" alt="Sunbird">
          </a>
        </div>
        <div class="text-center">
          <div>
           <!-- Main links here -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
